@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
